@using Grocery_Store.Models
@using PagedList.Mvc
@model PagedList.PagedList<SANPHAM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Menu.cshtml";
}

<div class="col-sm-9 padding-right">
    <div class="features_items">
        <!--features_items-->
        <h2 class="title text-center">SẢN PHẨM</h2>
        @{ var ii = 0;}
        @foreach (SANPHAM sp in Model)
        {
            bool isKM = sp.GiaKM != null ? true : false;
            int gia = sp.GiaKM ?? sp.GiaBan;
            if (ii % 3 == 0)
            {
                @Html.Raw("<div class='row'>")
            }
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="@sp.ANH.Url" alt="@sp.TenSP" height="200px" />
                            @if (isKM)
                            {
                                <h5><del>@sp.GiaBan.ToString("N0") ₫</del></h5>
                                <h2>@(sp.GiaKM?.ToString("N0") ?? "0") ₫</h2>
                            }
                            <p>@sp.TenSP</p>
                            <a href="@Url.Action("Product","Products",routeValues: new{id = sp.TenDuongDan,})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                        </div>
                        <div class="product-overlay">
                            <div class="overlay-content">
                                <h2>@gia.ToString("N0") </h2>
                                <p>@sp.TenSP</p>
                                <a href="@Url.Action("Product","Products",routeValues: new{id = sp.TenDuongDan,})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                            </div>
                        </div>
                    </div>
                    <div class="choose">
                        <ul class="nav nav-pills nav-justified">
                            <li><a href="#"><i class="far fa-heart"></i>Thích</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            if (ii % 3 == 2)
            {
                @Html.Raw("</div>")
            }
            { ii++; }
        }
        @*@if (ViewBag.monAns.Count > 12)
            {
                <ul class="pagination">
                    <li class="active"><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">&raquo;</a></li>
                </ul>
            }*@
        @Html.PagedListPager(Model, page => HttpContext.Current.Request.Url.LocalPath + "?search=" + ViewBag.search + "&price=" + ViewBag.price + " &page=" + page)

    </div><!--features_items-->
</div>
