@using Grocery_Store.Models
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Menu.cshtml";
    SANPHAM sanPham = ViewBag.sanPham;
    GroceryStoreDB db = new GroceryStoreDB();
    List<CHITIETDH> chiTietDHs = db.CHITIETDHs.Where(x => x.MaSP == sanPham.ID && x.DanhGia != null).ToList();
    double avg;
    if (chiTietDHs.Count != 0)
    {
        avg = chiTietDHs.Select(x => x.DanhGia ?? 0).ToList().Average();
    }
    else
    {
        avg = 0;
    }

}

<div class="col-sm-9 padding-right">
    <div class="product-details">
        <!--product-details-->
        <div class="col-sm-5">
            <div class="view-product">
                <img src="@ViewBag.sanPham.ANH.Url" alt="" />
                <h3>ZOOM</h3>
            </div>
            <div id="similar-product" class="carousel slide" data-ride="carousel">
                @{ int ii = 0; SANPHAM sp2 = sanPham; }
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    @foreach (ANH a in sp2.ANHs)
                    {
                        if (ii % 3 == 0)
                        {
                            if (ii == 0)
                            {
                                @Html.Raw("<div class='item active'>");
                            }
                            else
                            {
                                @Html.Raw("<div class='item'>");
                            }
                        }
                        <a href=""><img src="@a.Url" width="25%" alt=""></a>
                        if (ii % 3 == 2 || ii == (sp2.ANHs.Count - 1))
                        {
                            @Html.Raw("</div>")
                        }
                        ii++;
                    }
                </div>
                <!-- Controls -->
                <a class="left item-control" href="#similar-product" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right item-control" href="#similar-product" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>

        </div>
        <div class="col-sm-7">
            <div class="product-information">
                <!--/product-information-->
                <img src="settingweb/product-details/new.jpg" class="newarrival" alt="" />
                <h2>@sanPham.TenSP</h2>
                <img src="settingweb/product-details/rating.png" alt="" />
                <h3 style="color:yellow">
                    @for (int i4 = 1; i4 <= 5; i4++)
                    {
                        if (i4 <= Math.Round(avg))
                        {
                            <i class="fas fa-star"></i>
                        }
                        else
                        {
                            <i class="far fa-star"></i>
                        }
                    }
                </h3>
                <span>
                    <span class="text-danger">@(sanPham.SoLuong==0?"Hết hàng":null)</span>
                    @if (sanPham.GiaKM == null)
                    {
                        <span>@sanPham.GiaBan.ToString("N0") ₫ </span>
                    }
                    else
                    {
                        <p style="text-decoration:line-through">@sanPham.GiaBan ₫</p>
                        <span>@(sanPham.GiaKM?.ToString("N0") ?? "0") ₫</span>
                    }
                    @if (sanPham.SoLuong > 0)
                    {
                        <button type="button" class="btn btn-fefault cart" onclick="increaseGioHang(@sanPham.ID)">
                            <i class="fa fa-shopping-cart"></i>
                            Thêm vào giỏ
                        </button>
                    }
                </span>
                <p>
                    @Html.Raw(sanPham.TomTat)
                </p>
                <a href=""><img src="~/Asset/settingweb/product-details/share.png" class="share img-responsive" alt="" /></a>
            </div><!--/product-information-->
        </div>
    </div><!--/product-details-->
    <!--Content Product-->
    <div class="row">
        <div class="col-sm-12">
            @Html.Raw(sanPham.NdSP)
        </div>
    </div><!--/content-product-->
    <div class="category-tab shop-details-tab">
        <!--category-tab-->
        <div class="col-sm-12">
            <ul class="nav nav-tabs ul">
                <li class="active" ><a href="#details" data-toggle="tab"> sản phẩm đang khuyến mãi</a></li>
                <li><a href="#companyprofile" data-toggle="tab">sản phẩm cùng loại</a></li>
                <li><a href="#reviews" data-toggle="tab">Đánh giá (@chiTietDHs.Count)</a></li>
                <li><a href="#comment" data-toggle="tab">Bình luận (@sanPham.BINHLUANs.Count)</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="details">
                @foreach (SANPHAM sp in ViewBag.khuyenMai)
                {
                    bool isKM = sp.GiaKM != null ? true : false;
                    int gia = sp.GiaKM ?? sp.GiaBan;
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="@sp.ANH.Url" alt="" height="200px"/>
                                    @if (isKM)
                                    {
                                        <h5><del>@sp.GiaBan.ToString("N0") ₫</del></h5>
                                        <h2>@(sp.GiaKM?.ToString("N0") ?? "0") ₫</h2>
                                    }
                                    else
                                    {
                                        <h2>@sp.GiaBan.ToString("N0") ₫</h2>
                                    }                                    <p>@sp.TenSP ₫</p>
                                    <a href="@Url.Action("Product","Products",routeValues: new{id = sp.TenDuongDan,})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="tab-pane fade" id="companyprofile">
                @foreach (SANPHAM sp in ViewBag.CungLoai)
                {
                    bool isKM = sp.GiaKM != null ? true : false;
                    int gia = sp.GiaKM ?? sp.GiaBan;
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="@sp.ANH.Url" alt="" height="200px" />
                                    @if (isKM)
                                    {
                                        <h5><del>@sp.GiaBan.ToString("N0") ₫</del></h5>
                                        <h2>@(sp.GiaKM?.ToString("N0") ?? "0") ₫</h2>
                                    }
                                    else
                                    {
                                        <h2>@sp.GiaBan.ToString("N0") ₫</h2>
                                    }                                            <p>@sp.TenSP ₫</p>
                                    <a href="@Url.Action("Product","Products",routeValues: new{id = sp.TenDuongDan,})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="tab-pane fade" id="reviews">
                <div class="col-sm-12">
                    @foreach (CHITIETDH chiTietDH in chiTietDHs)
                    {
                        <div class="row">
                            <div class="col-sm-6">
                                @chiTietDH.DONHANG.TAIKHOAN.HoTen
                            </div>
                            <div class="col-sm-6" style="color:yellow">
                                @for (int i3 = 1; i3 <= 5; i3++)
                                {
                                    if (i3 <= chiTietDH.DanhGia)
                                    {
                                        <i class="fas fa-star"></i>
                                    }
                                    else
                                    {
                                        <i class="far fa-star"></i>
                                    }
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="comment">
                @foreach (BINHLUAN binhLuan in sanPham.BINHLUANs.Where(x => x.PhanHoi == null))
                {
                    <div class="col-sm-12">
                        <strong>@binhLuan.TAIKHOAN.HoTen:</strong>@Html.Raw(binhLuan.NoiDung)
                        <button class="btn btn-link" onclick="PhanHoi1(@binhLuan.ID,'@binhLuan.TAIKHOAN.HoTen')">Phản hồi</button>
                        <div class="container">
                            @foreach (BINHLUAN phanHoi in binhLuan.BINHLUAN1) // chạy từng các bình luận ra
                            {
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-11">
                                        <strong>@phanHoi.TAIKHOAN.HoTen:</strong> @Html.Raw(phanHoi.NoiDung)
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                <p><b>Viết bình luận</b></p>
                @model Grocery_Store.Models.BINHLUAN
                @using (Html.BeginForm("Comment", "Products", FormMethod.Get))
                {
                    @Html.TextAreaFor(m => m.NoiDung)
                    @Html.Hidden("MaSP", sanPham.ID)
                    @Html.HiddenFor(m => m.PhanHoi)
                    <button type="submit" class="btn btn-default pull-right">
                        Submit
                    </button>
                }
            </div>
        </div>
    </div><!--/category-tab-->

    <div class="recommended_items">
        <!--recommended_items-->
        <h2 class="title text-center">recommended items</h2>

        <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                @{ GroceryStoreDB on = new GroceryStoreDB(); List<SANPHAM> sanPhams = on.SANPHAMs.Where(x => x.DangSP).ToList(); var i = 0;}
                @foreach (SANPHAM sp in sanPhams)
                {
                    if (i % 3 == 0)
                    {
                        if (i == 0)
                        {
                            @Html.Raw("<div class=\"item active\">")
                        }
                        else
                        {
                            @Html.Raw("<div class=\"item\">")
                        }
                    }
                    int gia = sp.GiaKM ?? sp.GiaBan;
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="@sp.ANH.Url" alt="" height="200px" />
                                    <h2>@gia.ToString("N0") ₫</h2>
                                    <p>@sp.TenSP</p>
                                    <a href="@Url.Action("Product","Products",routeValues: new{id = sp.TenDuongDan,})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    if (i % 3 == 2 || i == sanPhams.Count - 1)
                    {
                        @Html.Raw("</div>")
                    }
                    if (i < 8)
                    { i++; }
                    else { break; }
                }
            </div>
        </div>
    </div>
</div>
@section js{
    <script>function PhanHoi1(id, HoTen) {
            debugger
            $("#PhanHoi").val(id)
            $("#NoiDung").val("@@‍" + HoTen +"‍ ")
        }</script>
}