@using Grocery_Store.Models;
@model Grocery_Store.Models.DANHMUC

@{
    ViewBag.Title = "Category";
    GroceryStoreDB db = new GroceryStoreDB();

}
@section css{
    <style>
        .table td, .table th {
            text-align: center;
        }
    </style>
}

<div class="content-wrapper">
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">
            @TempData["Error"]
        </div>
    }
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Danh sách danh mục</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Danh sách danh mục</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- /.row -->
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-outline-info btn-lg center-block" data-toggle="modal" data-target="#ThemMoi"><i class="fas fa-plus-circle"></i> Thêm mới</button>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Danh sách danh mục</h3>
                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" id="Search" name="table_search" class="form-control float-right" placeholder="Tên danh mục">

                            <div class="input-group-append">
                                <button type="button" id="Search-btn" class="btn btn-default">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên danh mục</th>
                                <th>Số lượng loại</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DANHMUC dm in db.DANHMUCs)
                            {
                                <tr>
                                    <td>@dm.ID</td>
                                    <td class="TenLoai">@dm.TenDanhMuc</td>
                                    <td>@dm.LOAISPs.Count</td>
                                    <td>
                                        <div class="dropdown">
                                            <span class="dropdown-toggle" style="cursor:pointer" data-toggle="dropdown">
                                                <i class="fas fa-edit"></i>
                                            </span>
                                            <div class="dropdown-menu">
                                                <a data-toggle="modal" data-target="#Sua" onclick="Sua(@dm.ID)" class="dropdown-item">Sửa</a>
                                                <a href="@Url.Action("Delete","DanhMucs", routeValues: new {id = dm.ID })" class="dropdown-item">Xóa</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- /.row -->
    <!--Modal-content-Thêm mới loại sản phẩm -->
    @using (Html.BeginForm("Create", "DanhMucs", FormMethod.Post, new { id = "formCreate" }))
    {
        <div class="modal fade" id="ThemMoi" style="display: none; padding-right: 17px;" aria-modal="true" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Thêm mới</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body form-inline">
                        <label class="mb-2 ml-sm-2">Nhập tên danh mục</label>
                        @Html.TextBoxFor(m => m.TenDanhMuc, new { @class = "form-control mb-2 ml-sm-2" })
                        @Html.ValidationMessageFor(m => m.TenDanhMuc, "", new { style = "color:red" })
                        @*<label class="mb-2 ml-sm-2">Nhập tên đường dẫn</label>
                            @Html.TextBoxFor(m => m.TenDuongDan, new { @class = "form-control mb-2 ml-sm-2", @readonly = "readonly" })
                            @Html.ValidationMessageFor(m => m.TenDuongDan, "", new { style = "color:red" })*@
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
                        <button type="submit" class="btn btn-primary">Chọn</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    }
    <!--Modal-content-Sửa loại sản phẩm -->
    @using (Html.BeginForm("Edit", "DanhMucs", FormMethod.Post, new { id = "formEdit" }))
    {
        <div class="modal fade" id="Sua" style="display: none; padding-right: 17px;" aria-modal="true" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Thêm mới</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body form-inline">
                        @Html.HiddenFor(m => m.ID)
                        <label class="mb-2 ml-sm-2">Nhập tên danh mục</label>
                        @Html.TextBoxFor(m => m.TenDanhMuc, new { @class = "form-control mb-2 ml-sm-2" })
                        @Html.ValidationMessageFor(m => m.TenDanhMuc, "", new { style = "color:red" })
                        @*<label class="mb-2 ml-sm-2">Nhập tên đường dẫn</label>
                            @Html.TextBoxFor(m => m.TenDuongDan, new { @class = "form-control mb-2 ml-sm-2" })
                            @Html.ValidationMessageFor(m => m.TenDuongDan, "", new { style = "color:red" })*@
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
                        <button type="submit" class="btn btn-primary">Chọn</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    }
</div>
@section js{
    <script>
        // chuyển tiếng việt có dấu thành không dấu
        function removeVietnameseTones(str) {
            str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
            str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
            str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
            str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
            str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
            str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
            str = str.replace(/đ/g, "d");
            str = str.replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g, "A");
            str = str.replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g, "E");
            str = str.replace(/Ì|Í|Ị|Ỉ|Ĩ/g, "I");
            str = str.replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g, "O");
            str = str.replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g, "U");
            str = str.replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g, "Y");
            str = str.replace(/Đ/g, "D");
            // Một vài bộ encode coi các dấu mũ, dấu chữ như một kí tự riêng biệt nên thêm hai dòng này
            str = str.replace(/\u0300|\u0301|\u0303|\u0309|\u0323/g, ""); // ̀ ́ ̃ ̉ ̣  huyền, sắc, ngã, hỏi, nặng
            str = str.replace(/\u02C6|\u0306|\u031B/g, ""); // ˆ ̆ ̛  Â, Ê, Ă, Ơ, Ư
            // Bỏ các khoảng trắng liền nhau
            str = str.replace(/ + /g, "-");
            // thay đổi khoản trắng
            str = str.replace(/ /g, "-")
            str = str.trim();
            // Bỏ dấu câu, kí tự đặc biệt
            str = str.replace(/!|@@|%|\^|\*|\(|\)|\+|\=|\<|\>|\?|\/|,|\.|\:|\;|\'|\"|\&|\#|\[|\]|~|\$|_|`|-|{|}|\||\\/g, "-");
            return str.toLowerCase();
        }
        $(document).ready(function () {
            /*$('#TenDanhMuc').on('input', function () {
                var convertedText = removeVietnameseTones($(this).val());
                $("#TenDuongDan").val(convertedText);
            });*/
            function searchTable(value) {
                $(".TenLoai").each(function () {
                    if ($(this).text().search(value) > -1) {
                        $(this).parent().show();
                    } else {
                        $(this).parent().hide();
                    }
                });
            }

            $("#Search").keydown(function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault(); // Để ngăn chặn form gửi đi khi nhấn Enter
                    var searchValue = $("#Search").val();
                    searchTable(searchValue);
                }
            });

            $("#Search-btn").click(function () {
                var searchValue = $("#Search").val();
                searchTable(searchValue);
            });

            // Khi input rỗng
            $("#Search").on("input", function () {
                var searchValue = $(this).val();
                if (searchValue === '') {
                    $(".TenLoai").parent().show(); // Hiển thị tất cả các hàng nếu không có giá trị tìm kiếm
                } else {
                    searchTable(searchValue);
                }
            });
        })
    </script>
    <script>
        function Sua(id) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("Ajax_Category", "DanhMucs")",
                data: JSON.stringify({id:id}),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#Sua #ID").val(id)
                    $("#Sua #TenDanhMuc").val(data.TenDanhMuc)
                },
                error: function () {
                    alert("Error occured!!")
                }
            });
        }
        $(document).ready(function () {
            $('#formCreate').submit(function (e) {
                e.preventDefault(); // Ngăn chặn gửi form theo cách thông thường
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Create", "DanhMucs")',
                    data: $(this).serialize(),
                    success: function (response) {
                        if (response.success) {
                            $('#ThemMoi').modal('hide');
                            toastr.success('Tạo mới thành công');
                            setTimeout(function() {
                                window.location.href = '@Url.Action("Index", "DanhMucs")';
                            }, 2000);
                        } else {
                            // Hiển thị thông báo toast với lỗi
                            $.each(response.errors, function (index, error) {
                                toastr.error(error);
                            });
                        }
                    },
                    error: function () {
                        toastr.error('Đã xảy ra lỗi khi tạo mới');
                    }
                });
            });
            $('#formEdit').submit(function (e) {
                e.preventDefault(); // Ngăn chặn gửi form theo cách thông thường
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Edit", "DanhMucs")',
                    data: $(this).serialize(),
                    success: function (response) {
                        if (response.success) {
                            $('#Sua').modal('hide');
                            toastr.success('Sửa thành công');
                            setTimeout(function() {
                                window.location.href = '@Url.Action("Index", "DanhMucs")';
                            }, 2000);
                        } else {
                            // Hiển thị thông báo toast với lỗi
                            $.each(response.errors, function (index, error) {
                                toastr.error(error);
                            });
                        }
                    },
                    error: function () {
                        toastr.error('Đã xảy ra lỗi khi sửa');
                    }
                });
            });
        });
    </script>
}