@model IEnumerable<Grocery_Store.Models.LOAISP>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DANHMUC.TenDanhMuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiSP1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenDuongDan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GhiChu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DANHMUC.TenDanhMuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiSP1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenDuongDan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GhiChu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
