@using Grocery_Store.Models
@using System.Linq;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Menu.cshtml";
}

@section Banner{
    <section id="slider">
        <!--slider-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#slider-carousel" data-slide-to="1"></li>
                            <li data-target="#slider-carousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-sm-6">
                                    <h1><span>Vu Ngu</span>-Food</h1>
                                    <h2>Hamburger - Sự Kết Hợp Tuyệt Vời</h2>
                                    <p>
                                        Hamburger, món ăn nhanh nhưng đầy sáng tạo. Với bánh mềm, thịt nướng thơm lừng và phô mai béo ngậy, mỗi chiếc là một tác phẩm nghệ thuật.
                                        Hãy thử các phiên bản độc đáo của chúng tôi.
                                    </p>
                                    <button type="button" class="btn btn-default get">Mua ngay</button>
                                </div>
                                <div class="col-sm-6">
                                    <img src="~/Asset/settingweb/home/banner-1.jpg" class="girl img-responsive" alt="" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-sm-6">
                                    <h1><span>Vu Ngu</span>-Food</h1>
                                    <h2>Kimbap - Hương Vị Truyền Thống Hàn Quốc</h2>
                                    <p>
                                        Kimbap, món ăn đặc trưng của Hàn Quốc, kết hợp cơm, rau củ và thịt hoặc hải sản.
                                        Cuốn trong lá rong biển mềm mại, từ loại thập cẩm đến chay, mỗi cuốn là một trải nghiệm hương vị đích thực.
                                    </p>
                                    <button type="button" class="btn btn-default get">Mua ngay</button>
                                </div>
                                <div class="col-sm-6">
                                    <img src="~/Asset/settingweb/home/banner-2.jpg" class="girl img-responsive" alt="" />
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-sm-6">
                                    <h1><span>Vu Ngu</span>-Food</h1>
                                    <h2>Đồ Viên Chiên - Hương Vị Độc Đáo</h2>
                                    <p>
                                        Khám phá hương vị độc đáo của đồ viên chiên tại Vu Ngu-Food.
                                        Từ nguyên liệu tươi ngon đến công thức chế biến đặc sắc, mỗi viên chiên là một trải nghiệm ẩm thực thú vị và mới lạ.
                                    </p>
                                    <button type="button" class="btn btn-default get">Mua ngay</button>
                                </div>
                                <div class="col-sm-6">
                                    <img src="~/Asset/settingweb/home/banner-3.png" class="girl img-responsive" alt="" />
                                    @* <img src="~/Asset/settingweb/home/pricing.png" class="pricing" alt="" />*@
                                </div>
                            </div>

                        </div>

                        <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section><!--/slider-->
}
<div class="col-sm-9 padding-right">
    <div class="features_items">
        <!--features_items-->
        <h2 class="title text-center">MÓN CỦA QUÁN</h2>
        @{ var ii = 0;}
        @foreach (SANPHAM sp in ViewBag.sanPhams)
        {
            if (ii % 3 == 0)
            {
                @Html.Raw("<div class='row'>")
            }
            int gia = sp.GiaKM ?? sp.GiaBan;
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="@sp.ANH.Url" alt="@sp.TenSP" height="200px" />
                            <h2>@gia.ToString("N0") ₫</h2>
                            <p>@sp.TenSP</p>
                            <a href="@Url.Action("Product","Products",routeValues: new{id = sp.TenDuongDan,})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                        </div>
                        <div class="product-overlay">
                            <div class="overlay-content">
                                <h2>@gia.ToString("N0") ₫</h2>
                                <p>@sp.TenSP</p>
                                <a href="@Url.Action("Product","Products",routeValues: new{id = sp.TenDuongDan,})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                            </div>
                        </div>
                    </div>
                    <div class="choose">
                        <ul class="nav nav-pills nav-justified">
                            <li><a href="#"><i class="far fa-heart"></i>Thích</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            if (ii % 3 == 2)
            {
                @Html.Raw("</div>")
            }
            { ii++; }
        }
    </div><!--features_items-->

    <div class="category-tab">
        <!--category-tab-->
        <div class="col-sm-12">
            <ul class="nav nav-tabs ul">
                @foreach (LOAISP lspCha in ViewBag.loaiSPs)
                {
                    <li><a href="#duoi@{@lspCha.ID}" data-toggle="tab">@lspCha.LoaiSP1</a></li>
                }
            </ul>
        </div>
        <div class="tab-content">
            @foreach (LOAISP lsp in ViewBag.loaiSPs)
            {
                <div class="tab-pane fade" id="duoi@{@lsp.ID}">
                    @{ IEnumerable<SANPHAM> monAn = (from sp in lsp.SANPHAMs where sp.DangSP == true orderby sp.LuotXem descending select sp).Take(6);}
                    @foreach (SANPHAM sp in monAn)
                    {
                        int gia = sp.GiaKM ?? sp.GiaBan;
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="@sp.ANH.Url" alt="@sp.TenSP" height="200px" />
                                        <h2>@gia.ToString("N0") ₫</h2>
                                        <p>@sp.TenSP</p>
                                        <a href="@Url.Action("Product","Products",routeValues: new{id = sp.TenDuongDan,})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            }

        </div>
    </div><!--/category-tab-->

    <div class="recommended_items">
        <!--recommended_items-->
        <h2 class="title text-center">Lựa Chọn Hàng Đầu</h2>

        <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                @{ GroceryStoreDB db = new GroceryStoreDB(); List<SANPHAM> sanPhams = db.SANPHAMs.Where(x => x.DangSP == true).ToList(); var i = 0;}
                @foreach (SANPHAM sp in sanPhams)
                {
                    if (i % 3 == 0)
                    {
                        if (i == 0)
                        {
                            @Html.Raw("<div class=\"item active\">")
                        }
                        else
                        {
                            @Html.Raw("<div class=\"item\">")
                        }
                    }
                    int gia = sp.GiaKM ?? sp.GiaBan;
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="@sp.ANH.Url" alt="" height="200px" />
                                    <h2>@gia.ToString("N0") ₫</h2>
                                    <p>@sp.TenSP</p>
                                    <a href="@Url.Action("Product","Products",routeValues: new{id = sp.TenDuongDan,})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    if (i % 3 == 2 || i == sanPhams.Count - 1)
                    {
                        @Html.Raw("</div>")
                    }
                    if (i < 8)
                    { i++; }
                    else { break; }
                }
            </div>
        </div>
    </div>
</div><!--/recommended_items-->
@section js{
    <script>
    $(document).ready(function () {
            $(".nav.nav-tabs>li:first").addClass("active") // thêm css vào nav-tab
            $(".tab-content>div:first").addClass("active in")
        })</script>
}