@model Grocery_Store.Models.TAIKHOAN
@{
    ViewBag.Title = "Login";


}


<section id="form">
    @if (TempData["AlertMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["AlertMessage"]
        </div>
    }
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Đăng nhập vào tài khoản của bạn</h2>
                    @using (Html.BeginForm("Login", "Users", FormMethod.Post))
                    {
                        @Html.TextBox("TaiKhoan", "", new { placeholder = "Tên tài khoản", required = "" })
                        @Html.Password("MatKhau", "", new { placeholder = "Mật khẩu", required = "" })
                        <p class="text-danger">@ViewBag.msg</p>
                        <button type="submit" class="btn btn-default">Đăng nhập</button>
                    }
                </div><!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">Hoặc</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>Đăng ký tài khoản mới!</h2>
                    @using (Html.BeginForm("Register", "Users", FormMethod.Post))
                    {
                        @Html.TextBoxFor(m => m.HoTen, new { placeholder = "Họ và tên", required = "" })
                        @Html.TextBoxFor(m => m.TenTK, new { placeholder = "Tên tài khoản", required = "" })
                        @Html.ValidationMessageFor(m => m.TenTK, "", new { @class = "text-danger" })
                        @Html.PasswordFor(m => m.MatKhau, new { placeholder = "Mật khẩu", required = "" })
                        @Html.PasswordFor(m => m.XnMK, new { @class = "form-control", placeholder = "Xác nhận mật khẩu" })
                        @Html.ValidationMessageFor(m => m.XnMK, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.RadioButtonFor(m => m.GioiTinh, true, new { @class = "form-inline ml-sm-2", @checked = "" })
                            @Html.LabelFor(m => m.GioiTinh, "Nam", new { @class = "form-inline ml-sm-2" })
                            @Html.RadioButtonFor(m => m.GioiTinh, false, new { @class = "form-inline ml-sm-2" })
                            @Html.LabelFor(m => m.GioiTinh, "Nữ", new { @class = "form-inline ml-sm-2" })
                        </div>
                        @Html.TextBoxFor(m => m.SDT, new { placeholder = "Số điện thoại", required = "", Type = "number" })
                        @Html.ValidationMessageFor(m => m.SDT, "", new { @class = "text-danger" })
                        @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", required = "", Type = "email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        <button type="submit" class="btn btn-default">Đăng ký</button>
                    }
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->
